{% extends 'visitorLayout.html.twig' %}

{% block title %}Ferme de la Volière - Votre panier{% endblock %}

{% block body %}
    <section class="shopping-cart">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Mon panier</h1>
                    {% if user %}
                        <h2 class="text-center">Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% if cart %}
            <div class="table-responsive table-borderless mt-5">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th colspan="3">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartProduct in cart %}
                        <tr class="text-center">
                            <td class="img-product my-auto"><img src="{{ cartProduct.product.picture }}" alt="{{ cartProduct.product.name }}"></td>
                            <td class="name-product text-left">{{ cartProduct.product.name }}</td>
                            <td class="description-product text-left my-auto">{{ cartProduct.product.description }}</td>
                            <td class="my-auto">{{ cartProduct.product.price|number_format(2) }} €</td>
                            <td class="my-auto">
                                {% if cartProduct.quantity > 1 %}
                                    <a href="{{ path('cart_decrement', {'id': cartProduct.product.id  }) }}">-</a>
                                {% endif %}
                                {{ cartProduct.quantity }}
                                {% if cartProduct.quantity < 50 %}
                                    <a href="{{ path('cart_increment', {'id': cartProduct.product.id  }) }}">+</a>
                                {% endif %}

                            </td>
                            <td class="my-auto">
                                {{ cartProduct.total }} €
                            </td>
                            <td class="my-auto">
                                {{ include('cart/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end total-cart text-left">
                <p class="m-3 mb-4 col-md-3 col-sm-12">Total de votre panier : <span class="total-cart-price">{{ totalCart }} € TTC </span></p>
            </div>
            <div class="row justify-content-end text-left mr-5">
                <a href="{{ path('app_index') }}" class="btn btn-outline-back m-3 col-md-2 col-sm-12">Continuer les achats</a>
                <a href="{{ path('delivery') }}" class="btn btn-outline-validate m-3 col-md-2 col-sm-12">Valider la commande</a>
            </div>
        </div>
        {% else %}
            <div class="text-center">
                <h3 class="m-5">Votre panier est vide !</h3>
                <button class="btn btn-outline-back">Continuer les achats</button>
            </div>
        {% endif %}
    </section>
{% endblock %}
