{% extends 'visitorLayout.html.twig' %}

{% block title %}La Volière | Mon panier{% endblock %}

{% block body %}
    <section class="shopping-cart">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Mon panier</h1>
                    {% if user %}
                        <h2 class="text-center">Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container-fluid shopping-container">
            {% if cart %}
            <div class="table-responsive table-borderless mt-5">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th class="text-left d-none d-md-block" scope="col"></th>
                        <th class="text-left" scope="col">Produit</th>
                        <th class="text-left d-none d-md-block" scope="col">Lot</th>
                        <th scope="col">Prix</th>
                        <th scope="col" class="quantity-selector">Quantité</th>
                        <th scope="col" class="product-total d-none d-md-block">Total</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartProduct in cart %}
                        <tr class="text-center">
                            <td class="img-product my-auto d-none d-md-block">
                                <img src="{% if cartProduct.product.picture %}{{ vich_uploader_asset(cartProduct.product, 'pictureFile') }}{% else %}{{ asset('build/image_product_default.jpg') }}{% endif %}"
                                     class="card-img-top" alt="{{ cartProduct.product.name }}">
                            </td>
                            <td class="name-product text-left">{{ cartProduct.product.name }}</td>
                            <td class="description-product text-left my-auto d-none d-md-block">{{ cartProduct.product.bundle }}</td>
                            <td class="my-auto">{{ cartProduct.product.price|number_format(2) }} €</td>
                            <td class="my-auto quantity-spinner number-input">
                                    <a class="cart-decrement justify-content-start minus mr-2"
                                       href="{{ path('cart_decrement', {'id': cartProduct.product.id  }) }}">-</a>
                                <span class="quantity-selector-span" id="quantity-selector-{{ cartProduct.product.id }}">{{ cartProduct.quantity }}</span>
                                    <a class="cart-increment justify-content-end plus ml-2"
                                       href="{{ path('cart_increment', {'id': cartProduct.product.id  }) }}">+</a>
                            </td>
                            <td class="my-auto product-total d-none d-md-block">
                                <span class="product-total-span" id="product-total-{{ cartProduct.product.id }}">{{ cartProduct.total|number_format(2) }} €</span>
                            </td>
                            <td class="my-auto">
                                {{ include('cart/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row total-cart">
                <div class="col-md-5 offset-md-7 text-center col-sm-12 mt-4">
                    <p>Total de votre panier : <span class="total-cart-price"
                                                     id="result-cart">{{ totalCart|number_format(2) }} € TTC </span></p>
                </div>
                <div class="col-md-5 offset-md-7 col-sm-12 mt-4">
                    <a href="{{ path('catalog') }}" class="btn btn-outline-back mt-3 mb-3 col-md-5 mr-1">Ajouter des produits</a>
                    <a href="{{ path('delivery') }}" class="btn btn-outline-validate col-md-5 ">Valider la commande</a>
                </div>
            </div>

        </div>
        {% else %}
            <div class="text-center p-5 mt-2">
                <h3 class="m-5">Votre panier est vide !</h3>
                <a href="{{ path('catalog') }}" class="btn btn-outline-back m-5">Je n'ai pas fini mes courses !</a>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}