{% extends 'visitorLayout.html.twig' %}

{% block title %} Changement de mot de passe {% endblock %}

{% block body %}

    <section class="change-password-account">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Mon compte</h1>
                    <h2 class="text-center">Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
                </div>
            </div>
        </div>

        <div class="container">

            <h3 class="text-center my-5">Changez votre mot de passe</h3>

            <div class="card mx-auto">
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_errors(form) }}
                    {{ form_label(form.oldPassword) }}
                    {{ form_widget(form.oldPassword) }}
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}

                    <div class="row justify-content-center">
                        <button class="btn btn-outline col-11 col-md-4 mt-3">Confirmez</button>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </section>

{% endblock %}
