{% extends 'visitorLayout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <section class="my-account">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Mon compte</h1>
                    <h2 class="text-center">Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center text-center">

                <a href="#" class="card">
                    <img src="{{ asset('build/logo_order.png') }}" class="card-img-top" alt="logo deconnexion">
                    <div class="card-body">
                        <h5 class="card-title">Vos commandes</h5>
                    </div>
                </a>

                <a href="{{ path('account_edit', {'id': user.id}) }}" class="card">
                    <img src="{{ asset('build/logo_modify.png') }}" class="card-img-top" alt="logo deconnexion">
                    <div class="card-body">
                        <h5 class="card-title">Modifiez vos informations</h5>
                    </div>
                </a>

                <a href="#" class="card">
                    <img src="{{ asset('build/logo_password.png') }}" class="card-img-top" alt="logo deconnexion">
                    <div class="card-body">
                        <h5 class="card-title">Changez votre mot de passe</h5>
                    </div>
                </a>

                <a href="#" class="card">
                    <img src="{{ asset('build/logo_logout.png') }}" class="card-img-top" alt="logo deconnexion">
                    <div class="card-body">
                        <h5 class="card-title">Se déconnecter</h5>
                    </div>
                </a>
            </div>
        </div>

    </section>
{% endblock %}
