    {% extends 'adminLayout.html.twig' %}

{% block title %}Gestion des évènements{% endblock %}

{% block body %}

    <section class="admin-event">
        <div class="container">
            <h1 class="text-center my-5 admin-h1">Gestion des évènements</h1>
            <div class="text-center">
                <a class="btn btn-admin px-4 mb-5" href="{{ path('event_new') }}"
                   role="button">Ajouter un évènement</a>
            </div>
            <div class="row">
                {% for event in events %}
                    <div class="card mx-4 mx-md-auto my-2">
                        <img src="{{ vich_uploader_asset(event, 'pictureFile') }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if event.title|length > 60 %}{{ event.title [:60] ~ ' ...' }}
                                {% else %} {{ event.title }}
                                {% endif %}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ event.startAt ? event.startAt|date('d/m/Y') : '' }} -
                                {{ event.endAt ? event.endAt|date('d/m/Y') : '' }}
                            </h6>
                            <p class="card-text">
                                {% if event.description|length > 60 %}{{ event.description [:60] ~ ' ...' }}
                                {% else %} {{ event.description }}
                                {% endif %}
                            </p>

                        </div>
                        <div class="card-footer">
                            <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn mr-2 float-left btn-success">
                                <img src=" {{ asset('build/icon_edit.png') }}" alt="logo editer">
                            </a>

                            <form method="post" action="{{ path('event_delete', {'id': event.id}) }}"
                                  onsubmit="return confirm('Voulez-vous supprimer l\'évènement: {{ event.title|upper }} ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                                <button class="btn btn-danger float-right">
                                    <img src=" {{ asset('build/icon_delete.png') }}" alt="logo supprimer">
                                </button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <h3 class="text-center col-12">Aucun évènement</h3>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}
