{% extends 'visitorLayout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section class="login">
        <div class="container my-3">

            <ul class="nav mb-4 justify-content-center my-5 pt-5">
                <li class="nav-item m-2">
                    <a class="nav-link active" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
            </ul>

            <h3 class="text-center my-4">Connexion</h3>

            <div class="card mx-auto">
                <form method="post">
                    <div class="card-body justify-content-center">
                        {% if error %}
                            <div class="alert alert-danger my-1 col-12">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <label for="inputEmail" class="col-form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               placeholder="email@gmail.com" required autofocus>

                        <label for="inputPassword" class="col-form-label">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Mot de passe"
                               required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="row justify-content-center">
                        <button class="btn btn-outline col-11 col-md-4 mt-4" type="submit">Se connecter</button>
                        </div>
                        <div class="checkbox mt-3 text-center">
                            <input type="checkbox" id="_remember_me" name="_remember_me"/>
                            <label class="form-check-label" for="_remember_me"> Se rappeler de moi </label>
                        </div>
                    </div>
                </form>
                <a class="text-center mb-2" href="{{ path('reset_password_request') }}">Mot de passe oublié ?</a>
            </div>
        </div>
    </section>
{% endblock %}
