
{{ form_start(form) }}
<div class="row justify-content-center mx-auto">
    <div class="col-12 col-md-10 my-1">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="col-12 col-md-10 my-1">
        {{ form_label(form.url) }}
        {{ form_widget(form.url) }}
    </div>
    <div class="col-12 col-md-10 my-1">
        {{ form_label(form.pictureFile) }}
        {{ form_widget(form.pictureFile) }}
    </div>
</div>

<div class="text-center">
    <button class="btn btn-add px-4 my-4 mx-5">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}