<div class="my-5">
    {{ form_start(form, {'attr': {class: 'form-inline justify-content-center'} }) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {% if edit == true %}
    <button class="btn btn-secondary mx-5">{{ button_label|default('Modifier') }}</button>
    {% else %}
    <button class="btn btn-secondary mx-5">{{ button_label|default('Ajouter') }}</button>
    {% endif %}
    {{ form_end(form) }}
</div>
