{% extends 'visitorLayout.html.twig' %}

{% block title %}Ferme de la Volière | Histoire{% endblock %}

{% block body %}


    <header id="our-farm" class="header-farm">
        <div>
            <h1 class="text-center title-wrapper">Notre ferme & Vous</h1>
        </div>
        <div>
            <img src="{{ asset('build/image_header_farm.jpg') }}"
                 alt="Image d'accueil de la Ferme de la Volière">
        </div>
    </header>

    <!-- =================== Début section Histoire ferme =================== -->

    <section id="farm_history" class="farm-history">
        <div class="container-fluid">
            <h2 class="text-center mb-5">La ferme</h2>
            <div class="row row-farm-width mx-auto">
                <div class="col-md-4 d-flex align-content-around flex-wrap">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Sans pesticide</h5>
                            <p>La vapeur d'eau permet d'éviter les mauvaises herbes et les maladies</p>
                        </div>
                        <div class="col-md-3">
                            <img src="{{ asset('build/picto_farm_history_1.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h5>100 % responsable</h5>
                            <p>La vapeur d'eau permet d'éviter les mauvaises herbes et les maladies</p>
                        </div>
                        <div class="col-md-3">
                            <img src="{{ asset('build/picto_farm_history_2.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('build/image_history_farmpage_2.png') }}"
                         class="img-fluid" alt="Panier de légumes décoratif">
                </div>
                <div class="col-md-4 d-flex align-content-around flex-wrap">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ asset('build/picto_farm_history_3.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>
                        <div class="col-md-9">
                            <h5>Zéro gaspillage</h5>
                            <p>Irrigation de nuit et principalement au goutte-à-goutte</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ asset('build/picto_farm_history_4.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>
                        <div class="col-md-9">
                            <h5>Du bon sens</h5>
                            <p>Utilisation de variétés adaptées à notre terre et au climat local</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- =================== fin section Histoire ferme ===================== -->

    <!-- ======================= Début Section Location ===================== -->
    <section id="location" class="location">
        <div class="jumbotron mb-0 pb-0">
            <div class="container-fluid ">
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-6">
                        <img src="{{ asset('build/image_cagette.png') }}" class="img-fluid"
                             alt="image d'un panier de légume">
                    </div>
                    <div class="col-sm-12 col-md-6 justify-content-center">

                        <h2 class="text-center">Nos points de collecte</h2>

                        <p class="p-location">En plus du retrait de vos commandes directement à la boutique de
                            la
                            Ferme,
                            nous disposons d'un distributeur automatique accessible 24 heures sur 24.</p>
                        <p class="p-location">Nous effectuons également des commandes et livraisons groupés pour
                            les
                            entreprises et leurs employés.</p>
                        <p class="p-location-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris tempus
                            a
                            massa a scelerisque. Duis facilisis rutrum mauris eu porta. Curabitur interdum lorem
                            in
                            vulputate laoreet. Integer neque nunc, faucibus at dui nec, viverra vestibulum
                            dolor.
                            Maecenas ut leo at tortor sodales aliquam. Nulla aliquam metus enim, ac venenatis
                            eros
                            vestibulum viverra. Vivamus tristique quam efficitur neque cursus ultrices. Cras nec
                            nibh
                            tristique, convallis mauris ut, consectetur lacus.</p>
                    </div>
                </div>

                <div class="row row-farm mx-auto mt-5">
                    {% for location in locations %}
                        <div class="col-md-3 mb-4">
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title text-center mb-3">{{ location.name }}</h5>
                                    <p class="card-text p-location mb-0">{{ location.adress }}</p>
                                    <p class="card-text p-location">{{ location.postalCode }} {{ location.city }}</p>
                                    <p class="card-text p-location">Jour de
                                        collecte: {{ location.deliveryDate }}</p>
                                    {% if location.locationType == 'Entreprise' %}
                                        <p class="card-text p-location-type">Réservé aux employés</p>
                                    {% else %}
                                        <p class="card-text p-location-type">&nbsp;</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- ======================= Fin Section Location ===================== -->

{% endblock %}
