{% extends 'visitorLayout.html.twig' %}

{% block title %}Hello OurFarmController!{% endblock %}

{% block body %}

    <section id="location" class="location">
        <div class="jumbotron mb-0">
            <div class="container-fluid ">
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-6">
                        <img src="{{ asset('build/image_cagette.png') }}" class="img-fluid"
                             alt="image d'un panier de légume">
                    </div>
                    <div class="col-sm-12 col-md-6 justify-content-center">

                        <h2 class="text-center">Nos points de collecte</h2>

                        <p class="p-location">En plus du retrait de vos commandes directement à la boutique de la
                            Ferme,
                            nous disposons d'un distributeur automatique accessible 24 heures sur 24.</p>
                        <p class="p-location">Nous effectuons également des commandes et livraisons groupés pour les
                            entreprises et leurs employés.</p>
                        <p class="p-location-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus a
                            massa a scelerisque. Duis facilisis rutrum mauris eu porta. Curabitur interdum lorem in
                            vulputate laoreet. Integer neque nunc, faucibus at dui nec, viverra vestibulum dolor.
                            Maecenas ut leo at tortor sodales aliquam. Nulla aliquam metus enim, ac venenatis eros
                            vestibulum viverra. Vivamus tristique quam efficitur neque cursus ultrices. Cras nec nibh
                            tristique, convallis mauris ut, consectetur lacus.</p>
                    </div>
                </div>

                <div class="row row-farm mx-auto mt-5">
                    {% for location in locations %}
                        <div class="col-md-3 mb-4">
                            <div class="card ">
                                <div class="card-body">
                                    <h5 class="card-title text-center mb-3">{{ location.name }}</h5>
                                    <p class="card-text p-location mb-0">{{ location.adress }}</p>
                                    <p class="card-text p-location">{{ location.postalCode }} {{ location.city }}</p>
                                    <p class="card-text p-location">jour de collecte: {{ location.deliveryDate }}</p>
                                    {% if location.locationType == 'Entreprise' %}
                                        <p class="card-text p-location-type">Réservé aux employés</p>
                                    {% else %}
                                        <p class="card-text p-location-type">&nbsp;</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
