{% extends 'visitorLayout.html.twig' %}

{% block title %}Hello OurFarmController!{% endblock %}

{% block body %}

<section id="delivery-locations" class="delivery-locations">
    <h1>Lieux de livraison</h1>

    {% for location in locations %}
    <p>{{ location.name }}</p>
    <p>{{ location.adress }}</p>
    <p>{{ location.postalCode }}</p>
    <p>{{ location.city }}</p>
    <p>{{ location.deliveryDate }}</p>
    <p>{{ location.locationType }}</p>
    {% endfor %}
</div>
</section>
{% endblock %}
