{% extends 'visitorLayout.html.twig' %}

{% block title %}Hello OurFarmController!{% endblock %}

{% block body %}

    <section id="location" class="location">
        <div class="jumbotron mb-0">
            <div class="container-fluid ">
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-6">
                        <img src="{{ asset('build/image_panier3.png') }}" class="img-fluid"
                             alt="image d'un panier de légume">
                    </div>
                    <div class="col-sm-12 col-md-6 justify-content-center">

                        <h2 class="text-center">Nos points de collecte</h2>

                        <p class="p-location">En plus du retrait de vos commandes directement à la boutique de la
                            Ferme,
                            nous disposons d'un distributeur automatique accessible 24 heures sur 24.</p>
                        <p class="p-location">Nous effectuons également des commandes et livraisons groupés pour les
                            entreprises et leurs employés.</p>

                    </div>
                </div>

                <div class="row row-farm mx-auto mt-5">
                    {% for location in locations %}
                        <div class="col-md-3 mb-4">
                            <div class="card justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">{{ location.name }}</h5>
                                    <p class="card-text p-location mb-0">{{ location.adress }}</p>
                                    <p class="card-text p-location">{{ location.postalCode }} {{ location.city }}</p>
                                    <p class="card-text p-location">jour : {{ location.deliveryDate }}</p>
                                    {% if location.locationType == 'Entreprise' %}
                                        <p class="card-text p-location">Réservé aux employés</p>
                                    {% else %}
                                        <p class="card-text p-location">&nbsp;</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
