{% extends 'visitorLayout.html.twig' %}

{% block title %}Ferme de la Volière | Histoire{% endblock %}

{% block body %}


    <header id="our-farm" class="header-farm">
        <div>
            <h1 class="text-center title-wrapper">Notre ferme & Vous</h1>
        </div>
        <div>
            <img src="{{ asset('build/farmpage/image_header_farm.jpg') }}"
                 alt="Image d'accueil de la Ferme de la Volière">
        </div>
    </header>

    <!-- =================== Début section Histoire ferme =================== -->

    <section id="notre-culture" class="farm-history">
        <div class="container-fluid">
            <h2 class="text-center mb-5">La ferme</h2>
            <div class="row row-farm-width mx-auto pt-3">
                <div class="col-md-12 col-lg-4 d-flex">
                    <div class="row align-content-between">
                        <div class="col-9 col-sm-4 col-md-4 col-lg-9 text-right align-self-start">
                            <h5>Zéro pesticide</h5>
                            <p>Application de la protection biologique pour conduire nos serres sans pesticide.</p>
                        </div>
                        <div class="col-3 col-sm-2 col-md-2 col-lg-3 align-self-start">
                            <img src="{{ asset('build/farmpage/picto_farm_history_1.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>

                        <div class="col-9 col-sm-4 col-md-4 col-lg-9 text-right">
                            <h5>100 % responsable</h5>
                            <p>Respect des bonnes pratiques agricoles pour des produits de qualité.</p>
                        </div>
                        <div class="col-3 col-sm-2 col-md-2 col-lg-3">
                            <img src="{{ asset('build/farmpage/picto_farm_history_2.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-lg-4 text-center mt-2 mb-3 mb-sm-3 vmt-sm-2 mb-sm-4 mt-md-4 mb-md-5 my-lg-0 my-xl-0">
                    <img src="{{ asset('build/farmpage/image_history_farmpage_2.png') }}"
                         class="img-fluid" alt="Panier de légumes décoratif">
                </div>
                <div class="col-md-12 col-lg-4 d-flex">
                    <div class="row align-content-between">
                        <div class="col-3 col-sm-2 col-md-2 col-lg-3 align-self-start">
                            <img src="{{ asset('build/farmpage/picto_farm_history_3.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>
                        <div class="col-9 col-sm-4 col-md-4 col-lg-9 justify-content-end align-self-start">
                            <h5>Zéro gaspillage</h5>
                            <p>Irrigation de nuit et au goutte-à-goutte pour économiser l'eau.</p>
                        </div>

                        <div class="col-3 col-sm-2 col-md-2 col-lg-3">
                            <img src="{{ asset('build/farmpage/picto_farm_history_4.png') }}"
                                 class="img-fluid picto" alt="picto décoratif">
                        </div>
                        <div class="col-9 col-sm-4 col-md-4 col-lg-9 justify-content-end">
                            <h5>Du bon sens</h5>
                            <p>Utilisation de variétés adaptées à notre terre et au climat local.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- =================== fin section Histoire ferme ===================== -->

    <!-- ======================= Début Section Location ===================== -->

    <section class="location">
        <div class="jumbotron mb-0">
            <div class="container-fluid text-center">
                <h2 class="text-center">Nos points de collecte</h2>
                <div class="row row-farm mx-auto mt-5">
                    {% for location in locations %}
                        <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                            <a href="https://www.openstreetmap.org/search?query={{ location.adress }} {{ location.postalCode }}"
                               onclick="open(this.href, '_blank', 'top=200,left=200, width=1000, height=500, toolbar=0,resizable=1'); return false;"
                               role="button">
                                <div class="card ">
                                    <div class="card-body pr-0">
                                        <h5 class="card-title text-center mb-3">{{ location.name }}</h5>
                                        <div class="card-body px-0">
                                            <p class="card-text p-location mb-0">{{ location.adress }}</p>
                                            <p class="card-text p-location">{{ location.postalCode }} {{ location.city }}</p>
                                        </div>
                                        <p class="card-text p-location">
                                            <span class="color-text-gray">Collecte&nbsp;:</span> {{ location.deliveryDate }}
                                        </p>
                                        {% if location.isPrivate %}
                                            <p class="card-text p-location-type">Réservé aux employés</p>
                                        {% else %}
                                            <p class="card-text p-location-type">&nbsp;</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- ======================= Fin Section Location ===================== -->

    <!-- ======================= Début Section Guesthouse ================= -->

    <section id="chambres-d-hotes" class="farm-guesthouse">
        <div class="container-fluid">
            <h2 class="text-center mb-5">Gîte et chambres d'hôtes</h2>
            <div class="row mt-5 pt-4">

                <div class="col-md-12 col-lg-5 px-4 mb-4">
                    <div class="container-guesthouse img-big-guesthouse">
                        <img src="{{ asset('build/farmpage/image_gite_1.jpg') }}"
                             class="card-img-top img-fluid img-big-guesthouse"
                             alt="photographie du gite">
                        <button type="button" class="btn bottom-left-text" data-toggle="modal"
                                data-target="#modalGuesthouse">
                            Voir plus de photos...
                        </button>
                        <img src="{{ asset('build/image_gitedefrance.png') }}"
                             class="upper-left-img img-fluid"
                             alt="photographie du gite">
                    </div>
                </div>

                <div class="col-md-12 col-lg-7 px-4 mb-4">
                    <div class="row px-4 mb-4">
                        <h3 class="mb-4">Venez dormir à la ferme !</h3>
                        <p class="p-guesthouse">Vous êtes dans notre région le temps d’un week-end pour un
                            mariage, une fête entre amis ou en semaine pour votre travail&nbsp;?
                        </p>

                        <p class="p-guesthouse">Nous vous proposons un accueil à la ferme confortable, calme et familial dans
                            l'une de nos chambres d'hôtes ou dans notre gîte.
                        </p>

                        <p class="p-guesthouse-sub">Nos 3 chambres d'hôtes ont chacune leur salle d'eau privative et un
                            espace commun équipé d'une kitchenette est à votre disposition.</br>
                            Le gîte a une capacité de 4 personnes.
                        </p>

                        <p class="p-guesthouse-sub">Nos hébergements sont ouverts toute l’année. Possibilité de location à la
                            semaine ou au mois.
                        </p>
                    </div>
                    <div class="row px-4">
                        <div class="col-4 col-sm-2 text-center">
                            <img src="{{ asset('build/farmpage/picto_farm_people.png') }}"
                                 class="img-fluid img-picto" alt="photographie du gite">
                            <p class="p-guesthouse-picto">1 à 6 personnes</p>
                        </div>
                        <div class="col-4 col-sm-2 text-center">
                            <img src="{{ asset('build/farmpage/picto_farm_bed.png') }}"
                                 class="img-fluid img-picto" alt="photographie du gite">
                            <p class="p-guesthouse-picto">3 chambres</p>
                        </div>
                        <div class="col-4 col-sm-2 text-center">
                            <img src="{{ asset('build/farmpage/picto_farm_microwave.png') }}"
                                 class="img-fluid img-picto" alt="photographie du gite">
                            <p class="p-guesthouse-picto">Micro-onde</p>
                        </div>
                        <div class="col-4 col-sm-2 text-center">
                            <img src="{{ asset('build/farmpage/picto_farm_kitchen.png') }}"
                                 class="img-fluid img-picto" alt="photographie du gite">
                            <p class="p-guesthouse-picto">Cuisine équipée</p>
                        </div>
                        <div class="col-4 col-sm-2 text-center">
                            <img src="{{ asset('build/farmpage/picto_farm_tv.png') }}"
                                 class="img-fluid img-picto" alt="photographie du gite">
                            <p class="p-guesthouse-picto">Télévision</p>
                        </div>
                        <div class="col-4 col-sm-2 text-center">
                            <img src="{{ asset('build/farmpage/picto_farm_wifi.png') }}"
                                 class="img-fluid img-picto" alt="photographie du gite">
                            <p class="p-guesthouse-picto">Wifi</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Beg. Modal -->
    <div class="modal fade" id="modalGuesthouse" tabindex="-1" role="img"
         aria-labelledby="modalGuesthouse" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered mx-auto">
            <div class="modal-content">
                <div class="modal-body container-guesthouse">
                    <button type="button" class="close upper-right-cross" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div id="carouselIndicatorGuesthouse" class="carousel slide" data-ride="carousel"
                         data-interval="3000" data-keyboard="true" data-wrap="true">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselIndicatorGuesthouse" data-slide-to="0"
                                class="active"></li>
                            <li data-target="#carouselIndicatorGuesthouse" data-slide-to="1"></li>
                            <li data-target="#carouselIndicatorGuesthouse" data-slide-to="2"></li>
                            <li data-target="#carouselIndicatorGuesthouse" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('build/farmpage/image_gite_1.jpg') }}"
                                     alt="L'ancienne étable">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-modal">L'ancienne étable</p>
                                </div>
                            </div>
                            <div class="carousel-item img-fluid">
                                <img class="d-block w-100" src="{{ asset('build/farmpage/image_gite_2.jpg') }}"
                                     alt="Chambre 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-modal">Chambre 1</p>
                                </div>
                            </div>
                            <div class="carousel-item img-fluid">
                                <img class="d-block w-100" src="{{ asset('build/farmpage/image_gite_4.jpg') }}"
                                     alt="Chambre 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-modal">Chambre 2</p>
                                </div>
                            </div>
                            <div class="carousel-item img-fluid">
                                <img class="d-block w-100" src="{{ asset('build/farmpage/image_gite_6.jpg') }}"
                                     alt="Salon">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-modal">Salon</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicatorGuesthouse" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicatorGuesthouse" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal -->
    <!-- ======================= Fin Section Guesthouse =================== -->

    <!-- ======================= Début Section Partners =================== -->

    <section class="partners">
        <div class="jumbotron mb-0">
            <div class="container-fluid text-center">
                <h2 class="text-center">Nos partenaires</h2>

                <div id="carousel-de-dingue" class="carousel slide carousel-partner" data-ride="carousel"
                     data-interval="3000" data-keyboard="true" data-wrap="true">
                    <div class="carousel-inner carousel-inner-partner row w-100 mx-auto align-items-center"
                         role="listbox">
                        {% for partner in partners %}
                            <div class="carousel-item col-de-l-uterus carousel-item-partner img-fluid col-12 col-sm-6 col-md-4 col-lg-3 {% if loop.first %} active {% endif %}">

                                <a href="{{ partner.url ?? '' }}" target="_blank">
                                    <img src="{% if partner.picture %}{{ vich_uploader_asset(partner, 'pictureFile') }}{% else %}{{ asset('build/image_partner_default.jpg') }}{% endif %}"
                                         class="img-fluid mx-auto d-block" alt="{{ partner.name }}">
                                </a>
                                {% if not partner.picture %}
                                    <div class="caption"><p>{{ partner.name }}</p></div>{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-de-dingue" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-de-dingue" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ======================= Fin Section Partners ===================== -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('farm') }}
{% endblock %}