{% extends 'visitorLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
          type="text/css">
{% endblock %}

{% block title %}Ferme de la Volière{% endblock %}

{% block body %}

    <header>
        <div>
            <h1 class="text-center title-wrapper">Ferme de la Volière</h1>
            <p class="text-center p-title-wrapper"><a href="{{ path('catalog') }}" class="a-header">Vente en ligne</a>
                /
                <a href="{{ path('our_farm') }}" class="a-header">Cueillette à la ferme</a></p>
        </div>
        <div>
            <img src="{{ asset('build/image_header.jpg') }}" alt="Image d'accueil de la Ferme de la Volière">
        </div>
        <div class="text-center">
            <a class="btn btn-header" href="{{ path('our_farm') }}"
               role="button">Découvrir notre ferme
            </a>
        </div>
        <div class="header-arrow">
            <a href="#farm-index"></a>
        </div>
    </header>

    <!-- ================= Début Farm Section ================ -->

    <section id="farm-index" class="farm-index">
        <div class="container-fluid {% if not allActualEvents %} padding-if-event {% endif %}">
            <div class="row mx-sm-2 mx-md-5">

                <div class="col-md-12 col-lg-6 my-3 px-md-5">

                    <h2>La Volière</h2>

                    <h3 class="h3-farm-index pt-4">Qui sommes-nous ?</h3>

                    <div class="pt-4 tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                        <!-- Nav tabs-->
                        <div class="nav-tabs-wrap">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1"
                                                                            data-toggle="tab">Cultures</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2"
                                                                            data-toggle="tab">Cueillette</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3"
                                                                            data-toggle="tab">Gîte</a></li>
                            </ul>
                        </div>
                        <!-- Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-1-1">
                                <p>À la ferme de la Volière, nous respectons les bonnes pratiques agricoles. Ici, pas de
                                    label mais du bon sens pour des produits de qualités.</p>
                                <a href="{{ path('our_farm') }}#notre-culture" class="btn btn-outline-reverse">Voir plus...</a>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-2">
                                <p>Venez retrouver le goût du jardin et de la cueillette à la ferme. Dans un moment
                                    calme et au rythme des saisons&nbsp;; en famille ou entre amis.
                                </p>
                                <a id="calendar-button" class="btn btn-outline-reverse">Voir plus...</a>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-3">
                                <p>Vous êtes dans notre région le temps d’un week-end pour un mariage, une fête entre
                                    amis ou en semaine pour votre travail&nbsp;? Venez dormir à la ferme&nbsp;!</p>
                                <a href="{{ path('our_farm') }}#chambres-d-hotes" class="btn btn-outline-reverse">Voir
                                    plus...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 my-3 px-md-5">
                    <img src="{{ asset('build/image_ferme_1.jpg') }}" class="img-fluid img-big-farm card-img-top"
                         alt="Photo de la Ferme de la Volière">
                </div>
            </div>

            {% if allActualEvents %}
                <div class="discover-events text-center mt-5">
                    <a class="card-arrow chrome-correction" data-toggle="collapse"
                       data-target="#farm-events-toggle">
                        <div class="icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="collapse-btn-text d-inline">
                            Découvrir nos activités
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>

    </section>

    <!-- ================= Fin Farm Section ================== -->

    {#    --------------- EVENTS SECTION ---------------#}


    {% if allActualEvents %}

        <section class="farm-events pt-4 pb-2 mb-5">

            <div class="container-fluid collapse" id="farm-events-toggle">
                <h2 class="text-center mt-0 pt-3 pb-2 mb-5">Les Actualités</h2>
                <div class="row justify-content-center">
                    {% for event in allActualEvents %}
                        <div class="single-event card col-lg-5 col-md-12 px-0 justify-content-center w-75 ">
                            <div class="text-center justify-content-center">
                                {% if event.picture %}
                                    <img src="{{ vich_uploader_asset(event, 'pictureFile') }}" class="card-img-top pb-2"
                                         alt="{{ event.title }}">
                                {% endif %}
                                <div class="card-body mx-auto">
                                    <h3 class="py-2 text-center">{{ event.title }}</h3>
                                    <hr class="text-left col-9 py-2">
                                    <p class="event-date">Du {{ event.startAt|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}
                                        au {{ event.endAt|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</p>
                                    <div class="text-left">{{ event.description }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {#    --------------- WEEK BASKET SECTION ---------------#}

    <section id="week-basket" class="week-basket">

        <div class="jumbotron mb-0 d-flex">
            <div class="row justify-content-center mx-auto">
                <h2 class="text-center col-12 mb-5">Le panier de la semaine</h2>
                {% if weekBasket %}
                    <p class="lead col-10">{{ weekBasket.description }}</p>
                {% if recipe %}
                <div class="text-align-left col-10">
                    <a class="btn btn-outline-reverse rounded-0" href="{{ recipe.url }}">La recette de la semaine</a>
                </div>
                    {% endif %}
                    <h3 class="text-center col-12 mt-2 mb-5">Prix : {{ weekBasket.price|number_format(2) }} €</h3>
                    <a class="btn btn-over-image" href="{{ path('add_cart_index', {'id': weekBasket.id}) }}" role="button">Ajouter au panier</a>
                {% else %}
                    <p class="lead text-center col-10">Le panier de la semaine sera disponible dans les prochains
                        jours</p>
                {% endif %}
            </div>
        </div>

    </section>

    {#    --------------- END WEEK BASKET SECTION ---------------#}

    {#    --------------- OUR PRODUCTS SECTION ---------------#}

    <section class="showcased-products" id="product-cards-index">

        <div class="container-fluid">

            <h2 class="text-center mb-5">Nos produits</h2>

            <div class="row justify-content-center" id="anchor-calendar">
                <ul class="nav nav-pills mb-4 text-center justify-content-center" id="pills-tab" role="tablist">
                    {% if productsShowcased %}
                        <li class="nav-item mx-2 mb-0">
                            <a class="nav-link active" id="pills-showcased-tab" data-toggle="pill"
                               href="#pills-showcased-products"
                               role="tab"
                               aria-controls="pills-showcased-products" aria-selected="true">Tops du moment</a>
                        </li>
                    <li class="nav-item mx-2 mb-0">
                        <a class="nav-link" id="pills-calendar-tab" data-toggle="pill" href="#pills-calendar" role="tab"
                           aria-controls="pills-calendar" aria-selected="false">Calendrier des cueillettes</a>
                    </li>
                    {% endif %}

                </ul>
            </div>

            {% if productsShowcased %}
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-showcased-products" role="tabpanel"
                     aria-labelledby="pills-showcased-products-tab">
                    <div class="row justify-content-center m-md-4">

                        {% for product in productsShowcased %}
                            <div class="card text-center mx-4 py-3">
                                <img src="{% if product.picture %}{{ vich_uploader_asset(product, 'pictureFile') }}{% else %}{{ asset('build/image_product_default.jpg') }}{% endif %}"
                                     class="card-img-top" alt="{{ product.name }}">
                                <div class="card-description mx-auto p-0">
                                    <div class="card-body mx-auto pb-0">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text card-text-desc py-0">
                                            {% if product.description|length > 60 %}{{ product.description [:60] ~ '[...]' }}
                                            {% else %} {{ product.description }}
                                            {% endif %}</p>

                                        <p class="card-text"><span
                                                    class="bold-text">Origine : </span>{{ product.origin }}
                                        </p>
                                    </div>
                                    <div class="card-footer mx-auto py-0">
                                        <p class="card-text price">{{ product.price|number_format(2) }} € <span
                                                    class="card-text-gray">/ {{ product.bundle }}</span></p>
                                    </div>
                                    <div class="card-footer mx-auto">
                                        <!-- spinner -->

                                        <div class="def-number-input number-input">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                    class="minus d-inline-block">-
                                            </button>
                                            <form method="POST"
                                                  action="{{ path('add_cart_index', {'id': product.id}) }}"
                                                  class="form-group d-inline-block">
                                                <input class="quantity" min="1" max="50" name="quantity"
                                                       value="1" type="number" aria-label="quantite-produit"
                                                       aria-describedby="quantité-produit">
                                                <button type="submit" class="btn button-spinner d-inline-block">
                                                    Commandez
                                                </button>
                                            </form>
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                    class="plus d-inline-block">+
                                            </button>
                                        </div>

                                        <!-- Fin spinner -->
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <a href="{{ path('catalog') }}" class="btn btn-outline btn-width mt-5">Tous nos produits</a>
                    </div>
                </div>
                {% endif %}
                {% if productsShowcased %}
                <div class="tab-pane fade" id="pills-calendar" role="tabpanel" aria-labelledby="pills-calendar-tab">
                    {% else %}
                    <div>
                        {% endif %}
                        {#      Calendrier de récoltes      #}
                        <div class="my-5 row text-center justify-content-center">
                            <div class="col-md-3 ">
                                <img class="img-legend" src="{{ asset('build/tractor.png') }}" alt="tractor">
                                <p>Produit de saison</p>
                            </div>
                            <div class="col-md-3 ">
                                <img class="img-legend" src="{{ asset('build/hand_green.png') }}" alt="hand">
                                <p>À la cueillette</p>
                            </div>

                        </div>
                        <div class="row justify-content-center m-4">
                            <table class=" season-table table table-responsive-md mx-auto col-lg-10">
                                <col>
                                <col>
                                <colgroup span="1"></colgroup>
                                <thead>
                                <tr class="table-month">
                                    <th class="no-head" scope="col"></th>
                                    <th class="no-head calendar-th" scope="col">Janv.</th>
                                    <th class="no-head calendar-th" scope="col">Fév.</th>
                                    <th class="no-head calendar-th" scope="col">Mars</th>
                                    <th class="no-head calendar-th" scope="col">Avril</th>
                                    <th class="no-head calendar-th" scope="col">Mai</th>
                                    <th class="no-head calendar-th" scope="col">Juin</th>
                                    <th class="no-head calendar-th" scope="col">Juil.</th>
                                    <th class="no-head calendar-th" scope="col">Aout</th>
                                    <th class="no-head calendar-th" scope="col">Sept.</th>
                                    <th class="no-head calendar-th" scope="col">Oct.</th>
                                    <th class="no-head calendar-th" scope="col">Nov.</th>
                                    <th class="no-head calendar-th" scope="col">Déc.</th>
                                </tr>
                                </thead>
                                {% for calendar in calendars %}
                                    <tbody class="">
                                    <tr>
                                        <th class="align-middle product-calendar-name" rowspan="3"
                                            scope="rowgroup">{{ calendar.product }}</th>
                                        {% for month in calendar.getSeasonDateArray %}
                                            <td class=""><img class="season-img img-fluid" src="{% if month %}
{{ asset('build/tractor.png') }}
{% else %}{{ asset('build/nothing.png') }}
{% endif %}" alt="calendar"></td>
                                        {% endfor %}
                                    </tr>
                                    {% if calendar.outOfStock %}
                                        <tr>
                                            <td class="align-middle out-of-stock no-picking" colspan="12">Victime de son succès,
                                                disponible prochainement.
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            {% for month in calendar.getPickingDateArray %}
                                                <td class=""><img class="season-img img-fluid" src="{% if month %}
                                                    {{ asset('build/hand_green.png') }}
                                                    {% else %}{{ asset('build/nothing.png') }}
                                                    {% endif %}" alt="calendar"></td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    --------------- END OUR PRODUCTS SECTION ---------------#}

    <!-- ================ Début Bannière ======================= -->

    <section class="banner">
        <div class="jumbotron mb-0">
            <div class="container-fluid text-center">
                <img src="{{ asset('build/logo_voliere_complet.png') }}"
                     alt="Logo complet de la ferme de la volière">
                <p class="p-banner">Vente&nbsp;et&nbsp;cueillette&nbsp;à&nbsp;la&nbsp;ferme&nbsp;/ Agriculture&nbsp;raisonnée&nbsp;/
                    Produits&nbsp;régionaux</p>
            </div>
        </div>
    </section>

    <!-- ================ Fin Bannière ========================= -->

    {#    ------------------ MAP/ADDRESS SECTION --------------#}

    <div class="section contact-us">
        <div class="container">
            <h2 class="text-center pt-3 mb-5">Nous trouver</h2>

            <div class="row address-hours mx-auto">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-auto">
                        <div class="card-title mb-0 pb-0">
                            <h3 class="mb-1 mt-3">Horaires</h3>
                        </div>
                        <div class="card-body">
                            <p>8h30 – 12h30 / 14h – 19h</p>
                            <p>Fermé tous les mardis</p>
                            <p>Fermé les dimanches du 1<sup>er</sup> novembre au 1<sup>er</sup> avril</p>
                            <p>Fermé du 25 décembre au 1<sup>er</sup> janvier</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mx-auto">
                    <div class="card card-left mx-auto">
                        <div class="card-title mb-0 pb-0">
                            <h3 class="mb-1 mt-3">Contact</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                <adress>
                                <i class="fas fa-map-marker-alt"></i>
                                Ferme de la Volière<br>
                                <span>181 rue de Malvoviers</span><br>
                                <span>45520 Gidy</span>
                            </p>
                            <p><i class="fas fa-phone-alt"></i>
                                Tél. : 06 63 76 75 63
                            </p>
                            <p><i class="fas fa-at"></i>
                                info@lavoliere.info
                                </adress>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {#    ------------------ END MAP/ADDRESS SECTION --------------#}

    {#    --------------- CONTACT FORM SECTION ---------------#}

    <section class="contact" id="contactForm">
        <div class="text-center mt-5">
            <a class="card-arrow collapse-contact chrome-correction" data-toggle="collapse"
               data-target="#collapseContact">
                <div class="icon">
                    <i class="fas fa-angle-right"></i>
                </div>
                <div class="collapse-btn-text d-inline">
                    Envoyez-nous un message !
                </div>
            </a>
        </div>
        <div class="container-fluid collapse collapse-contact" id="collapseContact">
            <div class="row justify-content-center">
                <div class="col-md-6 my-5">
                    {{ form_start(form) }}

                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    {{ form_label(form.mail) }}
                    {{ form_widget(form.mail) }}

                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}

                    {{ form_label(form.object) }}
                    {{ form_widget(form.object) }}

                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    <div class=" contact-form-validation text-right py-1">
                        <p class="required-field text-left mx-1 px-0 mt-0 mb-1"><span class="required"></span>Champ
                            obligatoire </p>
                        <button type="submit"
                                class="button-form btn btn-dark pr-3 mr-3"
                                id="submit-form-contact">{{ button_label|default('Envoyer') }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

    {#    --------------- END CONTACT FORM SECTION ---------------#}
    <section class="map-contact">
        <div class="container-fluid">
            <div class="row">
                <div id="map" class="map">
                    <div id="popup"></div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://kit.fontawesome.com/0499915d2e.js"></script>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    {{ encore_entry_script_tags('index') }}
{% endblock %}
