{% extends 'visitorLayout.html.twig' %}

{% block title %}La ferme la Volière{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="contact_form" class="row justify-content-center">
            <div class="col-md-6 my-5">
                {{ form_start(form) }}

                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}

                {{ form_label(form.mail) }}
                {{ form_widget(form.mail) }}

                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}

                {{ form_label(form.object) }}
                {{ form_widget(form.object) }}

                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
                <div class=" contact-form-validation text-right py-1">
                    <p class="required-field text-left mx-1 px-0 mt-0 mb-1"><span class="required"></span>Champ obligatoire </p>
                    <button type="submit" class="btn btn-dark pr-3 mr-3">{{ button_label|default('Envoyer') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
