{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1>Location index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Postal_code</th>
                <th>City</th>
                <th>Delivery_date</th>
                <th>IsPrivate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.name }}</td>
                <td>{{ location.adress }}</td>
                <td>{{ location.postalCode }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.deliveryDate }}</td>
                <td>{{ location.isPrivate ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}">show</a>
                    <a href="{{ path('location_edit', {'id': location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('location_new') }}">Create new</a>
{% endblock %}
