{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}


<section>
    <div class="container-fluid">
        <h1 class="text-center my-5 admin-h1">Gestion des points de collecte</h1>
        <div class="text-center">
            <a class="btn btn-admin px-4 mb-4" href="{{ path('location_new') }}"
               role="button">Ajouter un point de collecte</a>
        </div>

        <table class="table table-hover mx-auto col-lg-11">
            
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col" class="table-price">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Date de livraison</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            
            <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.name }}</td>
                    <td>{{ location.adress }}</td>
                    <td>{{ location.postalCode }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.deliveryDate }}</td>
                    <td>{{ location.isPrivate ? 'Oui' : 'Non' }}</td>
                    <td class="text-center py-0 pt-2">
                        <a href="{{ path('location_edit', {'id': location.id}) }}">
                            <img src=" {{ asset('build/icon_edit.png') }}" alt="logo editer">
                        </a>
                    </td>
                    <td class="text-center py-0">
                        <form method="post" action="{{ path('location_delete', {'id': location.id}) }}"
                              onsubmit="return confirm('Voulez-vous supprimer le point de collecte {{ location.name|upper }} ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.id) }}">
                            <button class="btn my-auto">
                                <img src=" {{ asset('build/icon_delete.png') }}" alt="logo supprimer">
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
            
        </table>

{% endblock %}