{% extends 'adminLayout.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <h1 class="text-center my-5 admin-h1">Gestion des produits</h1>
            <div class="text-center">
                <div class="row mb-4 form-inline justify-content-center">
                    {{ form_start(form) }}
                    <div class="justify-content-center">
                        {{ form_widget(form.search) }}
                        <button class="btn btn-dark btn-search my-2 mb-0">{{ button_label|default('Recherche') }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-admin px-4 mx-2" href="{{ path('product_new') }}"
                   role="button">Ajouter un produit</a>
                <a class="btn btn-add px-4 mx-2" href="{{ path('recipe_index') }}"
                   role="button">Gerer les recettes</a>
            </div>
            <h2 class="text-center my-5 admin-h2">Produits en ligne :</h2>
            <table class="table table-hover table-responsive-md mx-auto col-lg-11">
                <thead>
                <tr>
                    <th scope="col" class="table-name">Nom</th>
                    <th scope="col" class="table-price">Prix</th>
                    <th scope="col">Lot</th>
                    <th scope="col">Origine</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col" class="text-center table-showcased">Top du moment</th>
                    <th scope="col" class="text-center">Editer</th>
                    <th scope="col" class="text-center">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    {% if product.isAvailable %}
                        <tr class="
                {% if  product.isShowcased %} table-success
                {% endif %}">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price|number_format(2) }}€</td>
                            <td>{{ product.bundle }}</td>
                            <td>
                                {% if product.origin|length > 20 %}{{ product.origin [:20] ~ ' ...' }}
                                {% else %} {{ product.origin }}
                                {% endif %}
                            </td>
                            <td>{{ product.category.name }}</td>
                            <td class="text-center my-auto">{{ product.isShowcased ? 'Oui' : 'Non' }}</td>
                            <td class="text-center py-0 pt-2">
                                <a href="{{ path('product_edit', {'id': product.id}) }}">
                                    <img src=" {{ asset('build/icon_edit.png') }}" alt="logo editer">
                                </a>
                            </td>
                            <td class="text-center py-0">
                                <form method="post" action="{{ path('product_delete', {'id': product.id}) }}"
                                      onsubmit="return confirm('Voulez-vous supprimer le produit {{ product.name }} ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    <button class="btn my-auto">
                                        <img src=" {{ asset('build/icon_delete.png') }}" alt="logo supprimer">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="3">Aucun produit</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2 class="text-center my-5 admin-h2">Produits hors-ligne :</h2>
            <table class="table table-hover table-responsive-md mx-auto col-lg-11">
                <thead>
                <tr>
                    <th scope="col" class="table-name">Nom</th>
                    <th scope="col" class="table-price">Prix</th>
                    <th scope="col">Lot</th>
                    <th scope="col">Origine</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-center">Editer</th>
                    <th scope="col" class="text-center">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    {% if product.isAvailable == false %}
                        <tr class="table-secondary">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price|number_format(2) }}€</td>
                            <td>{{ product.bundle }}</td>
                            <td>{{ product.origin }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>
                                {% if product.description|length > 30 %}{{ product.description [:30] ~ ' ...' }}
                                {% else %} {{ product.description }}
                                {% endif %}
                            </td>
                            <td class="text-center py-0 pt-2">
                                <a href="{{ path('product_edit', {'id': product.id}) }}">
                                    <img src=" {{ asset('build/icon_edit.png') }}" alt="logo editer">
                                </a>
                            </td>
                            <td class="text-center py-0">
                                <form method="post" action="{{ path('product_delete', {'id': product.id}) }}"
                                      onsubmit="return confirm('Voulez-vous supprimer le produit {{ product.name }} ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    <button class="btn my-auto">
                                        <img src=" {{ asset('build/icon_delete.png') }}" alt="logo supprimer">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="3">Aucun produit</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
