{% extends 'adminLayout.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
<h1 class="text-center my-5 admin-h1">Gestion des produits</h1>
<div class="container-fluid">
    <table class="table table-hover mx-auto row justify-content-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lot</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Origine</th>
                <th>Mis en avant</th>
                <th>Disponible</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.bundle }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.origin }}</td>
                <td>{{ product.isShowcased ? 'Oui' : 'Non' }}</td>
                <td>{{ product.isAvailable ? 'Oui' : 'Non' }}</td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
