<h3>Vous avez un message de {{ contact.name }} </h3>

<h4>Son adresse MAIL: {{ contact.mail }}</h4>
{% if contact.phone is not null %}<h4>Son numéro de Téléphone : {{ contact.phone }}</h4>
{% else %}Numéro de téléphone non communiqué{% endif %}
{% if contact.mail is not null %}<h4>La raison de son contact : {{ contact.object }}</h4>
{% else %}Pas d'objet{% endif %}
<p>{{ contact.message }}<p>
