<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commandes à préparer !</title>
</head>
<body>

{% if purchases is empty %}
<h2>Vous n'avez aucune commande pour aujourd'hui ({{ now|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }})</h2>
{% else %}
<h1>Vous avez {{ nbOrders }} commandes pour aujourd'hui ({{ now|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }})</h1>

{% for purchase in purchases %}
    <ul>
        <li>{{ purchase.user.firstname }} {{ purchase.user.lastname }} ({{ purchase.user.email }})
            pour <strong>{{ orderService.getTotalPurchase(purchase)|number_format(2) }}€</strong></li>
        <ul>
            <li><strong>Lieu : </strong>{{ purchase.location }}</li>
            <li><strong>Produits :</strong></li>
            {% for product in purchase.purchaseProducts %}
                <ul>
                    <li><strong>{{ product.quantity }}</strong> {{ product.name }}/{{ product.bundle }}
                        <strong>{{ product.price|number_format(2) }}€</strong></li>
                </ul>
            {% endfor %}
            {% if purchase.comment %}
                <li><strong>Commentaire : </strong>{{ purchase.comment }}</li>
            {% endif %}
        </ul>
    </ul>
{% endfor %}
<h4>Total : {{ orderService.getTodayTotalPurchasesAmount(purchases)|number_format(2) }}€</h4>
{% endif %}
</body>
</html>