<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commandes à préparer !</title>
</head>
<body>

<h1>Vous avez {{ nbOrders }} commandes pour aujourd'hui ({{ orders.0.deliveryDate|date("d", "Europe/Paris") }})</h1>

{% for order in orders %}
<ul>
    <li>{{ order.user.firstname ~ order.user.firstname }}({{ order.user.email }})</li>
        <ul>
            <li><strong>Lieu: </strong>{{ order.location }}</li>
            <li><strong>Commentaire: </strong>{{ order.comment }}</li>
            <li><strong>Produits:</strong></li>
            {% for product in order.purchaseProducts %}
            <ul>
                <li>{{ product.name }}/{{ product.bundle }} x{{ product.quantity }} {{ product.price }}</li>
            </ul>
            {% endfor %}
        </ul>
</ul>
{% endfor %}

</body>
</html>

