<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/favIcon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favIcon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favIcon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/favIcon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/favIcon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Commande de {{ purchase.user.firstname }} {{ purchase.user.firstname }}</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
            margin: 50px;
        }

        h1 {
            text-align: center;
        }
        table{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        thead{
            background: lightgrey;
        }
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>

<h1>COMMANDE DE {{ purchase.user.firstname|upper }} {{ purchase.user.lastname|upper }}</h1>

<table>
    <thead>
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    {% for product in purchase.purchaseProducts %}
        <tr>
            <td>{{ product.name }}/{{ product.bundle }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ orderService.getTotalByPurchaseProduct(product)|number_format(2) }}€</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Total : {{ orderService.getTotalPurchase(purchase)|number_format(2) }}€ TTC</td>
    </tr>
    <tr>
        <td colspan="3">Date de commande : {{ purchase.orderDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</td>
    </tr>
    <tr>
        <td colspan="3">Date de livraison : {{ purchase.deliveryDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</td>
    </tr>
    </tbody>
</table>

{% if purchase.comment %}
    <p><strong>Commentaire : </strong>{{ purchase.comment }}</p>
{% endif %}

<h2>Informations sur le client :</h2>

<p>{{ purchase.user.firstname }} {{ purchase.user.lastname|upper }}</p>
<p>{{ purchase.user.email }}</p>
{% if purchase.user.phone %}
<p>{{ purchase.user.phone }}</p>
{% endif %}

</body>
</html>