{% extends 'adminLayout.html.twig' %}

{% block title %}Gestion des Partenaires{% endblock %}

{% block body %}
    <h1 class="text-center my-5 admin-h1">Gestion des Partenaires</h1>
    <div class="container-fluid">
        <table class="table table-hover mx-auto col-lg-8">
            <thead>
            <tr>
                <th class="col">Nom</th>
                <th class="col">Picture</th>
                <th class="col">Description</th>
                <th class="col-1 mx-auto">Editer</th>
                <th class="col-1 mx-auto">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                <tr>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.picture }}</td>
                    <td>{{ partner.description }}</td>
                    <td class="text-center py- pt-2">
                        <a href="#">
                            <img src=" {{ asset('build/icon_edit.png') }}" alt="logo editer">
                        </a>
                    </td>
                    <td class="text-center py-0">
                        <a href="#">
                            <img src=" {{ asset('build/icon_delete.png') }}" alt="logo editer">
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucuns Partenaires renseignés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
