{% extends 'base.html.twig' %}

{% block title %}Partners{% endblock %}

{% block body %}
    <h1>Partners</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ partner.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ partner.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ partner.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partners_index') }}">back to list</a>

    <a href="{{ path('partners_edit', {'id': partner.id}) }}">edit</a>

    {{ include('partners/_delete_form.html.twig') }}
{% endblock %}
