{% extends 'visitorLayout.html.twig' %}

{% block title %}Ferme de la Volière - Validation{% endblock %}

{% block body %}
    <section class="validation">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Valider ma commande</h1>
                    <div class="cart-resume">
                        <h2 class="order-h2 text-center">Votre panier contient X produits pour un total de X €.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="table-responsive table-borderless py-4 px-4 my-5 col-md-8 card mx-auto table-sm">
                <table class="table my-2">
                    <thead>
                    <tr class="text-center py-0 my-5 table-custom">
                        <th class="text-left" scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th class="text-right" scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product, detail in cart %}
                        <tr class="text-center align-content-center">
                            <td class="name-product text-left">{{ detail.product.name }}</td>
                            <td>{{ detail.product.price|number_format(2) }} €</td>
                            <td>{{ detail.quantity }}</td>
                            <td class="text-right">{{ detail.product.price }} €</td>
                            {# Total price to create in later US #}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <caption class="text-center cart-total important total mt-2">
                        Total du panier :
                    </caption>
                </table>
                <hr>
                <div class="delivery text-center mt-2">
                    <p>Cette commande est à retirer le
                        <span class="important">{{ delivery.deliveryDate.date|date("d/m/Y") }}</span>
                        à cet adresse :</p>
                    <p class="important">{{ adress }}</p>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <a class="btn btn-outline-back m-3" href="{{ path('catalog') }}"
                   role="button">Continuer les achats</a>
                <a class="btn btn-outline-validate m-3" href="{{ path('catalog') }}"
                   role="button">Continuer les achats</a>
            </div>
        </div>
    </section>
{% endblock %}
