{% extends 'visitorLayout.html.twig' %}

{% block title %}Mon Panier | Validation | Ferme de la Volière{% endblock %}

{% block body %}
    <section class="validation">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <h1 class="text-center">Valider ma commande</h1>
                    <div class="cart-resume">
                        <h2 class="order-h2 text-center">
                            Votre panier contient {{ orderService.getTotalProduct() }}
                            produit{% if orderService.getTotalProduct() > 1 %}s{% endif %} pour un total de {{ orderService.getTotalCart()|number_format(2) }} €.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="table-responsive table-borderless py-4 px-4 mb-2 mt-5 col-md-8 card mx-auto table-sm">
                <table class="table my-2">
                    <thead>
                    <tr class="text-center py-0 my-5 table-custom">
                        <th class="text-left" scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th class="text-right" scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product, detail in cart %}
                        <tr class="text-center align-content-center">
                            <td class="name-product text-left">{{ detail.product.name }}</td>
                            <td>{{ detail.product.price|number_format(2) }} €</td>
                            <td>{{ detail.quantity }}</td>
                            <td class="text-right">{{ detail.total }} €</td>
                            {# Total price to create in later US #}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <caption class="text-center cart-total important total mt-2">
                        Total du panier : {{ orderService.getTotalCart()|number_format(2) }} €
                    </caption>
                </table>
                <p class="text-center">
                    Le paiement de votre commande s'effectuera lors de la collecte.
                </p>
                <hr>
                <div class="delivery text-center mt-2">
                    <p>Cette commande est à retirer le
                        <span class="important">{{ delivery.deliveryDate.date|date("d/m/Y") }}</span>
                        à cette adresse :</p>
                    <p class="important">{{ adress }}</p>
                    {% if delivery.comments %}
                        <p><span class="important">Commentaires :</span> {{ delivery.comments }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="justify-content-center text-center mx-auto col-md-5 col-sm-12">
                <a class="btn btn-outline-back mt-3 mb-3 col-md-5 mr-1" href="{{ path('delivery') }}"
                   role="button">Changer la livraison</a>
                <a class="btn btn-outline-validate col-md-5" href="{{ path('confirm_order') }}"
                   role="button">Valider la commande</a>
            </div>
        </div>
    </section>
{% endblock %}
