{% extends 'visitorLayout.html.twig' %}
{% block title %}La Volière - Nos Produits{% endblock %}

{% block body %}
    <section class="basket-week">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <h2 class="text-center col-12 mb-5">Le panier de la semaine</h2>
                <p class="lead col-9">{{ weekBasket.description }}</p>
                <h2 class="text-center col-12 mb-5">{{ weekBasket.price }}€</h2>
                <a class="btn btn-over-image" href="#" role="button">Ajouter au panier</a>
            </div>
        </div>
    </section>

    <section id="all-products" class="products catalog">
        <div class="container-fluid">
            <h2 class="text-center pt-3 mb-5">Nos produits</h2>

            <div class="row justify-content-center">
                <ul class="nav nav-pills mb-4 text-center justify-content-center" id="pills-tab" role="tablist">
                    {% for category in categories %}
                        <li class="nav-item m-3 mb-3">
                            <a class="nav-link {{ loop.first ? 'active' }}" id="pills-{{ category.id }}-tab" data-toggle="pill"
                               href="#pills-{{ category.id }}"
                               role="tab"
                               aria-controls="pills-{{ category.id }}" aria-selected="{{ loop.first ? 'true' }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                {% for category in categories %}

                    <div class="tab-pane fade {{ loop.first ? 'show active' }} " id="pills-{{ category.id }}" role="tabpanel"
                         aria-labelledby="pills-{{ category.id }}-tab">
                        <div class="row justify-content-center">

                            {% for product in category.products %}
                                {% if product.isAvailable %}
                                <div class="card text-center mx-4">
                                    <img src="{% if product.picture %}{{ vich_uploader_asset(product, 'pictureFile') }}{% else %}{{ asset('build/image_product_default.jpg') }}{% endif %}"
                                         class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-description mx-auto p-0">
                                        <div class="card-body mx-auto pb-0">
                                            <h5 class="card-title pb-2">{{ product.name }}</h5>
                                            <p class="card-text py-0">
                                                {% if product.description|length > 60 %}{{ product.description [:60] ~ '[...]' }}
                                                {% else %} {{ product.description }}
                                                {% endif %}</p>

                                            <p class="card-text"><span
                                                        class="bold-text">Origine: </span>{{ product.origin }}
                                            </p>
                                        </div>
                                        <div class="card-footer mx-auto py-0">
                                            <p class="card-text price">{{ product.price|number_format(2) }}€
                                                <span class="card-text-gray">/ {{ product.bundle }}</span></p>
                                        </div>
                                        <div class="card-footer mx-auto">
                                            <a href="#" class="btn btn-outline">Commandez</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
